*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: gray;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
}

.header-scoreboard {
    display: flex;
    justify-content: center;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-score,
.cpu-score {
    text-align: center;
}

.prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-content {
    font-size: 24px;
}

.rps-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 36px;
}

.rps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rps-user,
.rps-cpu {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 8px;
    width: 150px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1em;
}

.btn img {
    display: block;
    width: 140px;
    aspect-ratio: 1;
    margin: 0;
    border-radius: 1em;
}

.footer-content {
    padding: 8px;
}